/* *{
    font-family: Georgia, 'Times New Roman', Times, serif;    
}

body{
    background-color: burlywood;
}
h1{
    color: aqua;
    background-color: cadetblue;
}
h2{
    color: aliceblue;
    background-color: black;
}
p{
    color: brown;
} */